<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Los Angeles, CA - Crime versus Socio- Economic Profile data</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../style.css"> -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<div class="row">
			<div class="col-md-12">
				<h3>
					<p align = "center">2017 Violent Crime Rate in Los Angeles</p> 
					<p align = "center">Explore the Animated Scatter Plot to study the correlation between Socio-Economic and Violent Crime Rates</p> 
				</h3>
			</div>
		</div>
    
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="iframeContainer">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="d3-DS.html"></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class ="row">
			<div class="col-md-6">
				<div class="iframeContainer">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="plot.html"></iframe>
					</div>
				</div>
			</div>
			<div class ="row">
					<div class="col-md-6">
						<div class="iframeContainer">
							<div class="embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item" src="pie.html"></iframe>
							</div>
						</div>
					</div>
			</div>
		</div> -->
	<script src="..static/js/app-DS.js"></script>
	<script src="plot.js"></script>
  <!-- jQuery CDN -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
<!-- Footer-->
<div id="footer">
	<div class = "row">
			<div class="col-md-12">
				<p align = "center"> Partners in Crime: Ben, Eleanora, Jon & Shrawantee - 2018</p>
			</div>
	</div>
</div>
</html>

